.notesContainer {
  position: relative;
  overflow-y: scroll;
  width: 96%;
  height: 96%;
  display: grid;
  padding: 2%;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px 16px;
  scroll-behavior: smooth;
}
